{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Page Not Found</title>
</head>

<body>
    <div class="background" id="background"></div>

    <div class="error-container">
        <h1>Oops! Page Not Found</h1>
        <p>It seems like the page you were looking for doesn't exist.</p>
        <a href="/auctions/home" class="home-link">Return Home</a>
    </div>
</body>
</html>
