{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}My Site{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/base_style.css' %}">
    {% block style %}{% endblock %}

    {% block scripts %}{% endblock %}
</head>
<body>
    <div class="nav-bar">
        <ul>
            <li><a href="{% url 'home' %}">Home Page</a></li>
            <li><a href="{% url 'active_auctions' %}">Active Auctions</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'my_profile' %}">My Profile</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
        </ul>
    </div>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>

